from dotenv import load_dotenv
load_dotenv()
entrypoint = "wordbot.py"
modules = ["python-3.11"]

[nix]
channel = "stable-24_05"

[unitTest]
language = "python3"

[gitHubImport]
requiredFiles = [".replit", "replit.nix"]

[deployment]
run = ["python3", "wordbot.py"]
deploymentTarget = "cloudrun"
